<h1> Statistics </h1>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Test Scores</th>
		<th>Average Scores</th>
	</tr>
	<tr *ngFor="let user of users">
		<td>
			{{user.rank}} {{user.last_name}}, {{user.first_name}}
		</td>
		<td>
			<div class="row" *ngFor="let testAttempt of user.testAttempts">
				{{testAttempt | json}}
			</div>
		</td>
		<td>
			{{user.averageTestScore * 100 | number : '1.2-2'}}%
		</td>
	</tr>
</table>
