<div class="jumbotron jumbotron-fluid d-print-none">
	<div class="container">
		<h1 class="display-3">
			<pre>Hello World!</pre>
		</h1>
		<app-resume-cover-letter></app-resume-cover-letter>
	</div>
</div>

<div class="d-print-block">
	<app-resume-cover-letter>
	</app-resume-cover-letter>
</div>
