<div class="card d-print-none" *ngFor="let category of categories">
	<div class="card-header">
		{{category}}
	</div>
	<ul class="list-group list-group-flush">

		<li class="list-group-item">
			<ng-container *ngFor="let skill of getSkillsByCategory(category); let last = last">
				<span *ngIf="skill.category == category && ( mode == RESUMEMODE.CV || skill.showInResume == true )">
					{{skill.name}}<span *ngIf="!last">, </span><span *ngIf="last">.</span>
				</span>
			</ng-container>
		</li>
	</ul>

</div>

<div class="d-print-block" *ngFor="let category of categories">

	<p>
		<b>{{category}}</b>
		<ng-container *ngFor="let skill of getSkillsByCategory(category); let last = last">
			<span *ngIf="skill.category == category">
				{{skill.name}}<span *ngIf="!last">, </span><span *ngIf="last">.</span>
			</span>
		</ng-container>
	</p>
</div>
