<!-- d-print-none = hidden on print -->
<mat-toolbar color="primary" class="d-print-none">
	<mat-toolbar-row>

		<span>
			{{SITENAME}}
		</span>

		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>
				<i class="zmdi zmdi-menu">
				</i>
			</mat-icon>
		</button>

		<mat-menu #menu="matMenu">

			<ng-container *ngFor="let nav of navigationElements">

				<a [routerLink]="!!(nav.disabled) ? '' : [nav.href]" mat-menu-item [disabled]="!!(nav.disabled)">

					<button mat-icon-button color="primary" class="navbar-font" [disabled]="!!(nav.disabled)">
						<mat-icon [aria-label]="nav.name" *ngIf="!!(nav.zmdiIcon)">
							<i [class]="'zmdi ' + nav.zmdiIcon"></i>
						</mat-icon>

						<span>{{nav.name}}</span>

					</button>
				</a>

			</ng-container>

		</mat-menu>


	</mat-toolbar-row>
</mat-toolbar>

<div style="height: 1em"></div>
