<div class="row">

	<div class="col-8 d-print-none">
		<h3>{{job.name}}</h3>
	</div>

	<div class="col-8 d-print-block">
		<h3>
			<small>{{job.name}}</small>
		</h3>
		<h4>
			<small class="text-muted" *ngIf="job.companyBranch && job.companyBranch.companyTitle"> {{job.companyBranch.companyTitle}} </small>
		</h4>
	</div>

	<div class="col-4">
		<div class="row" *ngFor="let term of job.terms">
			<div class="col">

				<h4>
					<small class="text-muted pull-right" *ngIf="job.type != JOBTYPE.EDUCATION">
						{{term.start | date:dateFormatString}}
						<span *ngIf="!!(term.end)"> - {{term.end | date:dateFormatString}}</span>
					</small>

					<small class="text-muted pull-right" *ngIf="job.type == JOBTYPE.EDUCATION">
						<span *ngIf="!!(term.end)">{{term.end | date:dateFormatString}}</span>
						<span *ngIf="!(term.end)">In Progress</span>
					</small>
				</h4>

			</div>
		</div>
	</div>
</div>

<div class="row d-print-none" *ngIf="!!(job.companyBranch)">
	<div class="col">
		<h4>
			<small class="text-muted"> {{job.companyBranch.companyTitle}}
				<span *ngIf="!!(job.companyBranch.companyBranchTitle)"> - {{job.companyBranch.companyBranchTitle}}</span>
			</small>
		</h4>
	</div>
</div>

<div class="row">
	<div class="col">
		<p *ngIf="mode == RESUMEMODE.CV" [innerHTML]="job.description">
		</p>
	</div>
</div>


<div class="row" *ngIf="job.skills">
	<div class="col">
		<p *ngIf="mode == RESUMEMODE.CV"  class="text-muted">
			<span *ngFor="let skill of job.skills; let last = last">{{skill.name}}<span *ngIf="!last">, </span><span *ngIf="last">.</span></span>
		</p>
	</div>
</div>
