<h1>
	{{pageTitle}}
	<small class="text-muted">
		{{mode}}
	</small>
</h1>

<ng-container *ngFor="let title of titles">
	<h2>
		<small>
			{{title}}
		</small>
	</h2>
</ng-container>

<app-resume-contact-information *ngIf="showContactInformation"></app-resume-contact-information>

<div class="row d-print-none">
	<div class="col">
		<a (click)="setMode(RESUMEMODE.CV)" *ngIf="mode == RESUMEMODE.RESUME">
			<button mat-raised-button color="primary">Switch to {{RESUMEMODE.CV}}</button>
		</a>
		<a (click)="setMode(RESUMEMODE.RESUME)" *ngIf="mode == RESUMEMODE.CV">
			<button mat-raised-button color="primary">Switch to {{RESUMEMODE.RESUME}}</button>
		</a>
	</div>
</div>

<app-resume-cover-letter-container *ngIf="showCoverLetter"></app-resume-cover-letter-container>

<h2 class="title_strike_through">
	<span class="title_strike_through">Quick Skills</span>
</h2>

<app-resume-quick-skills *ngIf="!!skills" [skills]="skills" [mode]="mode"></app-resume-quick-skills>

<h2 class="title_strike_through">

	<span class="title_strike_through">Education</span>
</h2>

<ng-container *ngFor="let position of education">
	<app-resume-job-highlight [job]="position" [mode]="mode" *ngIf="position.showInResume || mode == RESUMEMODE.CV"></app-resume-job-highlight>
</ng-container>

<h2 class="title_strike_through">
	<span class="title_strike_through">Work Experience</span>
</h2>

<ng-container *ngFor="let position of jobs">
	<app-resume-job-highlight [job]="position" [mode]="mode" *ngIf="position.showInResume || mode == RESUMEMODE.CV"></app-resume-job-highlight>
</ng-container>


<h2 class="title_strike_through">
	<span class="title_strike_through">Volunteering and Extra Curriculars</span>
</h2>

<ng-container *ngFor="let position of extra">
	<app-resume-job-highlight [job]="position" [mode]="mode" *ngIf="position.showInResume || mode == RESUMEMODE.CV"></app-resume-job-highlight>
</ng-container>


<ng-container *ngIf="mode == RESUMEMODE.CV">
	<h2 class="title_strike_through">
		<span class="title_strike_through">Awards</span>
	</h2>

	<ng-container *ngFor="let position of awards">
		<app-resume-job-highlight [job]="position" [mode]="mode" *ngIf="position.showInResume || mode == RESUMEMODE.CV"></app-resume-job-highlight>
	</ng-container>
</ng-container>

<h2 class="title_strike_through">
	<span class="title_strike_through">Projects</span>
</h2>

<ng-container *ngFor="let position of projects">
	<app-resume-job-highlight [job]="position" [mode]="mode" *ngIf="position.showInResume || mode == RESUMEMODE.CV"></app-resume-job-highlight>
</ng-container>
