h2.title_strike_through {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 50px 0 20px;
}

span.title_strike_through {
	background: #fff;
	padding: 0 10px;
}

.fade-in {
	animation: 3s slidein;
}
